<!DOCTYPE html>
<!--
    Alpha by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Fight the Berzerk Ninja</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="/content/ie/html5shiv.js"></script><![endif]-->
    <script src="/scripts/jquery-2.1.4.js"></script>
    <script src="/scripts/jquery.dropotron.min.js"></script>
    <script src="/scripts/jquery.scrollgress.min.js"></script>
    <script src="/scripts/skel.min.js"></script>
    <script src="/scripts/skel-layers.min.js"></script>
    <script src="/scripts/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/content/skel.css" />
        <link rel="stylesheet" href="/content/style.css" />
        <link rel="stylesheet" href="/content/style-wide.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="/content/ie/v8.css" /><![endif]-->
</head>
<body class="landing">

    <!-- Header -->
    <header id="header" class="alt">
        <h1>Email the <a href="mailto:greg@berzerk.ninja?Subject=Hello%20Greg, ">Berzerk Ninja</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="" class="icon fa-angle-down">Layouts</a>
                    <ul>
                        <li><a href="generic.html">Generic</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="elements.html">Elements</a></li>
                        <li>
                            <a href="">Submenu</a>
                            <ul>
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="button">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">

        <div class="row">
            <div class="12u">
                <div class="inline"><img src="/Images/ninja.png" alt="ninja" style="height:230px" /></div>
                <div class="inline">
                    <h2>Berzerk Ninja</h2>
                    <p>A blog and tech demo site</p>
                    <ul class="actions">
                        <li><a href="mailto:greg@berzerk.ninja?Subject=Hello%20Greg," class="button special">Contact me</a></li>
                        <li><a href="#" class="button">Blogs</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2>
                    Introducing the berzerk ninja,
                    <br/>
                    cutting deep into the web and mobile tech.
                </h2>
                <p>
                    I'm a web developer who has has his odd adventure doing mobile<br/>
                    applicaitons. Hear me blog!
                </p>
            </header>
            <span class="image featured"><img src="/images/pic01.jpg" alt=""></span>
        </section>

        @RenderBody()

    </section>

    <!-- CTA -->
    <section id="cta">

        <h2>Sign up for beta access</h2>
        <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

        <form>
            <div class="row uniform half collapse-at-2">
                <div class="8u">
                    <input type="email" name="email" id="email" placeholder="Email Address" />
                </div>
                <div class="4u">
                    <input type="submit" value="Sign Up" class="fit" />
                </div>
            </div>
        </form>

    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://twitter.com/berzerkninja" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/GregNukemRandall" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://github.com/BerzerkNinja/berzerk.ninja" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://plus.google.com/+GregRandallnz/posts" target="_blank" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Kahplah Ltd. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
        </ul>
    </footer>

</body>
</html>

