@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="box special features">
    <div class="features-row">
        <section>
            <span class="icon major fa-bolt accent2"></span>
            <h3>ASB Mobile Banking</h3>
            <p>
                I was lucky enough to get in at the ground floor of this greenfields Android app. I had help from a small but excellent team, and in my opinion we created an excellent application! Alot of hear went into this one.
                Although it doesn't have as many users as some websites I have built, it has a special place in my heart. Check it out here <a href="https://play.google.com/store/apps/details?id=nz.co.asb.asbmobile" target="_blank">ASB Mobile Banking</a>
            </p>
        </section>
        <section>
            <span class="icon major fa-area-chart accent3"></span>
            <h3>GP Plus</h3>
            <p>
                I created this small GP calculator for Jean over at <a href="http://ieretail.co.nz" target="_blank">ieRetail</a>. He wanted to give his customers something extra and provided them with a free mobile application!
                You can check it out on <a href="https://play.google.com/store/apps/details?id=com.margincalculator" target="_blank">Google Play</a> or on <a href="https://itunes.apple.com/nz/app/ieretail-gp-calculator/id634332320?mt=8" target="_blank">iTunes</a>.
                Support him and buy the <a href="https://itunes.apple.com/nz/app/gp-plus/id662033915?mt=8">paid version</a>.
            </p>
        </section>
    </div>
    <div class="features-row">
        <section>
            <span class="icon major fa-cloud accent4"></span>
            <h3>ShopX</h3>
            <p>ShopX is a retail simulator training software we wrote for Jean over at <a href="http://ieretail.co.nz" target="_blank">ieRetail</a>. The simulator trains players how to run a retail store. Check it out <a href="http://ieretail.com/shopx/" target="_blank">here</a>.</p>
        </section>
        <section>
            <span class="icon major fa-lock accent5"></span>
            <h3>Ignition Development</h3>
            <p>
                Ignition development is my current employer. We have a shiny new website you should definately <a href="http://www.ignitiondevelopment.co.nz/" target="_blank">go check out!</a> I'm involved in a few projects there, but my main bragging points
                are working with with our Norwegian friends at Netthandelen. Checkout <a href="https://www.blivakker.no/" target="blank">Blivakker</a>, <a href="https://www.cocopanda.dk/" target="blank">Cocopanda</a>,
                <a href="https://www.cocopanda.se/" target="blank">Cocopanda Se</a>, <a href="https://www.drlykke.no/" target="blank">DrLykke</a> and <a href="http://netthandelen.no/" target="blank">Netthandelen</a>.
            </p>
        </section>
    </div>
</section>

<div class="row">
    <div class="6u">

        <section class="box special">
            <span class="image featured"><img src="/images/pic02.jpg" alt="" /></span>
            <h3>Starcraft</h3>
            <p>
                I'm an avid <a href="http://www.starcraft2.com/" target="_blank">StarCraft 2</a> gamer. Feel free to browse my vods at <a href="http://www.twitch.tv/letok123" target="_blank">twitch.tv</a> and maybe even catch me playing live!
                If you are keen for a game, feel free to contact me and we'll set something up!
            </p>
            <ul class="actions">
                <li><a href="http://www.twitch.tv/letok123" target="_blank" class="button alt">Learn More</a></li>
            </ul>
        </section>

    </div>

    <div class="6u">

        <section class="box special">
            <span class="image featured"><img src="/images/pic03.jpg" alt="" /></span>
            <h3>ShopX</h3>
            <iframe src="https://www.youtube.com/embed/deaZCS2Bjs0" frameborder="0" allowfullscreen></iframe>
            <ul class="actions">
                <li><a href="http://ieretail.co.nz" target="_blank" class="button alt">Learn More</a></li>
            </ul>
        </section>

    </div>
</div>
